.blue-background{
  background-color: lightblue;
}

/* .blog-post:hover{
  background-color: lightblue;
} */

.red-text{
  color: red;
  font-size: 3em;
}

.dark-background{
  background-color: darkgray;
  color: whitesmoke;
}